/* Configuraciones globales */

body {
    background-color: #FCFAFF !important;
}


.region-content {
    padding: 0px !important;
}

#block-qintess-page-title {
    display: none;
}

/* Bloque cabecera */
.contenedor-cabecera {
    height: 621px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
}

.subcontenedor-titulo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 128px;

    @media screen and (max-width: 1280px) {
        padding-left: 50px;
    }

    @media screen and (max-width: 980px) {
        padding-left: 35px;
    }

    @media screen and (max-width: 520px){
        padding-left: 23px;
    }
}

.title-content-cabecera {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 700;

    strong {
        color: #6800FF;
    }

    p {
        margin: 0;
    }

    @media screen and (max-width: 980px) {
        font-size: 38px;
    }

    @media screen and (max-width: 520px) {
        font-size: 20px;
        left: 24px;
        line-height: 24px;
        max-width: 260px;
    }

}

.imagen-contenedor {
    max-width: 100%;
}


.field--name-field-titulo-cabecera {
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #222222;
    max-width: 720px;
    text-transform: uppercase;

    strong {
        color: #6800FF;
    }

    p {
        margin: 0;
    }

    @media screen and (max-width: 980px) {
        font-size: 38px;
        left: 35px;
    }
}


@media screen and (max-width: 860px) {
    .contenedor-cabecera {
        height: 400px;
    }

    .field--name-field-titulo-cabecera {
        max-width: 450px;
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 720px) {
    .contenedor-cabecera {
        height: 300px;
    }

    .field--name-field-titulo-cabecera {
        left: 24px;
        max-width: 260px;
    }
}

@media screen and (max-width: 520px) {
    .contenedor-cabecera {
        height: 230px;
    }
}

/* BLOQUE CONTACTO */
.titulo-contacto {
    font-weight: 700;
    font-size: 50px;
    color: #222222;
    text-transform: uppercase;
}

.descripcion-contacto {
    font-weight: 4000;
    line-height: 26px;
    font-size: 22px;
    color: #222222;
}

.webform-submission-contact-form {
    color: #6800FF;

    label {
        font-size: 22px;
    }
}

.form-control {
    color: #222222;
    border-color: #6800FF;
    border-radius: 18px;
    background-color: transparent;
    height: 48px;
    font-size: 18px;
}

#edit-aceptar-terminos--description {
    margin-top: -20px;
    margin-left: 0px;
    color: #222222;
    font-size: 12px;
}

#edit-actions-submit {
    background-color: #6800FF;
    font-weight: bold;
    font-size: 22px;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
}

#edit-aceptar-terminos {
    width: 24px;
    height: 24px;
    border: 2px solid #6800FF;
    --bs-form-check-bg: transparent;
}

.form-check-input:checked {
    background-color: #6800FF;
    border-color: #6800FF;
}

.contenedor-bloque-formulario-contacto {
    padding-top: 50px;
}

#edit-actions {
    display: flex;
    justify-content: center;
}

.form-required::after {
    display: none !important;
}

#edit-message {
    height: 185px;
}

.js-form-type-textfield .js-form-type-email {
    margin-top: 0;
}

@media screen and (max-width: 980px) {
    .titulo-contacto {
        font-size: 38px;
    }

    .descripcion-contacto {
        padding-top: 0;
        font-size: 17px;
        line-height: 21px;
    }

    .contenedor-bloque-formulario-contacto {
        padding-top: 25px;
    }

    .webform-submission-contact-form {
        label {
            font-size: 18px;
        }
    }

    .form-control {
        height: 38px;
        font-size: 15px;
    }
}

@media screen and (max-width: 860px) {
    .titulo-contacto {
        font-size: 30px;
    }

    .descripcion-contacto {
        padding-top: 0;
        font-size: 16px;
        line-height: 18px;
    }

    .webform-submission-contact-form {
        label {
            font-size: 16px;
        }
    }

    #edit-actions-submit {
        font-size: 20px;
        padding: 12px 28px;
    }
}

@media screen and (max-width: 520px) {
    .titulo-contacto {
        font-size: 16px;
    }

    .descripcion-contacto {
        padding-top: 0;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: -5px;
    }

    .webform-submission-contact-form {
        label {
            font-size: 12px;
        }
    }

    .form-control {
        height: 30px;
        font-size: 12px;
    }

    #edit-message {
        height: 110px;
    }

    #edit-actions-submit {
        font-size: 14px;
        padding: 12px 28px;
    }

    .js-form-type-textfield .js-form-type-email {
        margin-bottom: 8px;
    }
}

/* NEWSLETTER SUSCRIPTION */
.content-description {
    max-width: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.title-description {
    font-weight: 700;
    font-size: 22px;
    color: #222222;
}

.text-description {
    font-weight: 100;
    font-size: 16px;
}

.content-inputs {
    max-width: 490px;
    padding: 0 10px;
}

.input-suscribe {
    font-size: 16px !important;

    @media screen and (max-width: 980px) {
        font-size: 14px !important;
    }
}

.input-suscribe::placeholder {
    color: #6800FF !important;
}


/* .div-icon-share {
    background-color: red;
    width: 30px;
    height: 30px;
    svg{
        width: 100% !important;
        height: 100% !important;
    }
} */

.custom-container {
    padding: 15px 128px;

    @media screen and (max-width: 1280px) {
        padding: 10px 50px;
    }

    @media screen and (max-width: 980px) {
        padding: 10px 35px;
    }

    @media screen and (max-width: 520px) {
        padding: 10px 24px;
    }
}

.box-about {
    padding: 16px;
    background-color: #F6F4F9;
    border: 1px solid #BEB9C6;

    &__title {
        font-size: 28px;
        font-weight: 700;
        line-height: 34px;
        color: #6800FF;
        text-transform: uppercase;

        @media screen and (max-width: 980px) {
            font-size: 24px;
        }

        @media screen and (max-width: 520px) {
            font-size: 16px;
            margin-bottom: 0px;
        }

        
    }

    &__information {
        font-weight: 400;
        font-size: 22px;
        margin: 0;

        @media screen and (max-width: 980px) {
            font-size: 18px;
        }

        @media screen and (max-width: 520px) {
            font-size: 16px;
        }
    }
}

.categories-box {
    font-weight: 700;
    font-style: italic;
    font-size: 22px;
    list-style-type: none;
    padding-left: 0;

    @media screen and (max-width: 980px) {
        font-size: 18px;
    }

    @media screen and (max-width: 520px) {
        font-size: 16px;
    }
}

.item-categorie {
    &__categorie {
        color: #222222;
    }
}

.box-about__btn-share {
    margin-top: 15px;
    font-size: 22px;
    color: #6800FF;
    background-color: transparent;
    border: none;

    @media screen and (max-width: 980px) {
        font-size: 18px;
    }

    @media screen and (max-width: 520px) {
        font-size: 16px;
    }
}

.related-insights {
    margin-top: 20px;
}

.related-insights__title {
    font-weight: bold;
    font-size: 28px;
    text-transform: uppercase;
    color: #6800FF;

    @media screen and (max-width: 980px) {
        font-size: 24px;
    }

    @media screen and (max-width: 520px) {
        font-size: 16px;
    }
}

.content-insight {
    margin-bottom: 15px;
}


.card-insight {
    cursor: pointer;
    height: 234px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    border-radius: 40px;
    background: round;
    position: relative;
    margin-bottom: 15px;

    @media screen and (max-width: 520px){
        height: 169px;
    }
}

.card-insight:hover {
    .img-filter-gray {
        filter: none;
        transition-duration: 0.2s;
    }

    .gradient-hover {
        border-radius: 40px;
        width: 100%;
        height: 100%;
        position: absolute;
        background: linear-gradient(180deg, rgba(252, 250, 255, 0) 28.13%, #6800FF 100%);
    }
}

.img-filter-gray {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(1) brightness(0.6);
    background-size: cover;
    border-radius: 40px;
}

.info-card-insight {
    padding: 30px 20px;
    z-index: 9999;

    @media screen and (max-width: 980px) {
        padding: 20px 18px;
    }

    @media screen and (max-width: 520px){
        padding: 20px 15px;
    }

}

.categories-card-insight {
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
}

.categories-card-insight__categorie {
    margin: 0;
    color: #6800FF;
    font-size: 12px;
    background-color: white;
    width: min-content;
    padding: 5px 10px;
    border-radius: 30px;

    @media screen and (max-width: 980px) {
        font-size: 10px;
    }

    @media screen and (max-width: 520px) {
        font-size: 8px;
    }
}

.categories-card-insight__title {
    font-size: 22px;
    color: white;
    font-weight: 700;
    max-width: 410px;

    @media screen and (max-width: 980px) {
        font-size: 20px;
    }

    @media screen and (max-width: 520px) {
        font-size: 16px;
    }
}
