/* Configuraciones globales */

body {
    background-color: #FCFAFF !important;
}


.region-content {
    padding: 0px !important;
}

#block-qintess-page-title {
    display: none;
}

/* Bloque cabecera */
.contenedor-cabecera {
    height: 621px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
}

.subcontenedor-titulo {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 128px;

    @media screen and (max-width: 1280px) {
        padding-left: 50px;
    }

    @media screen and (max-width: 980px) {
        padding-left: 35px;
    }

    @media screen and (max-width: 520px){
        padding-left: 23px;
    }
}

.title-content-cabecera {
    font-size: 55px;
    text-transform: uppercase;
    font-weight: 700;

    strong {
        color: #6800FF;
    }

    p {
        margin: 0;
    }

    @media screen and (max-width: 980px) {
        font-size: 38px;
    }

    @media screen and (max-width: 520px) {
        font-size: 20px;
        left: 24px;
        line-height: 24px;
        max-width: 260px;
    }

}

.imagen-contenedor {
    max-width: 100%;
}


.field--name-field-titulo-cabecera {
    position: absolute;
    font-size: 50px;
    font-weight: 700;
    line-height: 60px;
    color: #222222;
    max-width: 720px;
    text-transform: uppercase;

    strong {
        color: #6800FF;
    }

    p {
        margin: 0;
    }

    @media screen and (max-width: 980px) {
        font-size: 38px;
        left: 35px;
    }
}


@media screen and (max-width: 860px) {
    .contenedor-cabecera {
        height: 400px;
    }

    .field--name-field-titulo-cabecera {
        max-width: 450px;
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 720px) {
    .contenedor-cabecera {
        height: 300px;
    }

    .field--name-field-titulo-cabecera {
        left: 24px;
        max-width: 260px;
    }
}

@media screen and (max-width: 520px) {
    .contenedor-cabecera {
        height: 230px;
    }
}

/* BLOQUE CONTACTO */
.titulo-contacto {
    font-weight: 700;
    font-size: 50px;
    color: #222222;
    text-transform: uppercase;
}

.descripcion-contacto {
    font-weight: 4000;
    line-height: 26px;
    font-size: 22px;
    color: #222222;
}

.webform-submission-contact-form {
    color: #6800FF;

    label {
        font-size: 22px;
    }
}

.form-control {
    color: #222222;
    border-color: #6800FF;
    border-radius: 18px;
    background-color: transparent;
    height: 48px;
    font-size: 18px;
}

#edit-aceptar-terminos--description {
    margin-top: -20px;
    margin-left: 0px;
    color: #222222;
    font-size: 12px;
}

#edit-actions-submit {
    background-color: #6800FF;
    font-weight: bold;
    font-size: 22px;
    border: none;
    padding: 15px 30px;
    border-radius: 20px;
}

#edit-aceptar-terminos {
    width: 24px;
    height: 24px;
    border: 2px solid #6800FF;
    --bs-form-check-bg: transparent;
}

.form-check-input:checked {
    background-color: #6800FF;
    border-color: #6800FF;
}

.contenedor-bloque-formulario-contacto {
    padding-top: 50px;
}

#edit-actions {
    display: flex;
    justify-content: center;
}

.form-required::after {
    display: none !important;
}

#edit-message {
    height: 185px;
}

.js-form-type-textfield .js-form-type-email {
    margin-top: 0;
}

@media screen and (max-width: 980px) {
    .titulo-contacto {
        font-size: 38px;
    }

    .descripcion-contacto {
        padding-top: 0;
        font-size: 17px;
        line-height: 21px;
    }

    .contenedor-bloque-formulario-contacto {
        padding-top: 25px;
    }

    .webform-submission-contact-form {
        label {
            font-size: 18px;
        }
    }

    .form-control {
        height: 38px;
        font-size: 15px;
    }
}

@media screen and (max-width: 860px) {
    .titulo-contacto {
        font-size: 30px;
    }

    .descripcion-contacto {
        padding-top: 0;
        font-size: 16px;
        line-height: 18px;
    }

    .webform-submission-contact-form {
        label {
            font-size: 16px;
        }
    }

    #edit-actions-submit {
        font-size: 20px;
        padding: 12px 28px;
    }
}

@media screen and (max-width: 520px) {
    .titulo-contacto {
        font-size: 16px;
    }

    .descripcion-contacto {
        padding-top: 0;
        font-size: 10px;
        line-height: 16px;
        margin-bottom: -5px;
    }

    .webform-submission-contact-form {
        label {
            font-size: 12px;
        }
    }

    .form-control {
        height: 30px;
        font-size: 12px;
    }

    #edit-message {
        height: 110px;
    }

    #edit-actions-submit {
        font-size: 14px;
        padding: 12px 28px;
    }

    .js-form-type-textfield .js-form-type-email {
        margin-bottom: 8px;
    }
}

/* NEWSLETTER SUSCRIPTION */
.content-description {
    max-width: 577px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.title-description {
    font-weight: 700;
    font-size: 22px;
    color: #222222;
}

.text-description {
    font-weight: 100;
    font-size: 16px;
}

.content-inputs {
    max-width: 490px;
    padding: 0 10px;
}

.input-suscribe {
    font-size: 16px !important;

    @media screen and (max-width: 980px) {
        font-size: 14px !important;
    }
}

.input-suscribe::placeholder {
    color: #6800FF !important;
}