<div class="container content-description">
	<h4 class="title-description">{{content.field_titulo_sucripcion[0]}}</h4>
	<p class="text-description">{{content.field_descripcion_suscripcion[0]}}</p>

	<div class="content-inputs content-inputs">
		{{content.field_formulario_suscripcion_bol}}
	</div>
</div>