<div class="row">
    <div class="col-6">
        <h1>Imagen</h1>
    </div>
    <div class="col-6">
        <h3>{{content.field_textos_promocion}}</h3>
    </div>
</div>


{% block paragraph %}
    <div {{ attributes.addClass(classes) }}>
        {% block content %}
            
        {% endblock %}

    </div>
{% endblock paragraph %}