
{% block paragraph %}
	{% block content %}
		<div class="contenedor-cabecera">
			<div class="subcontenedor-titulo">
				<h1 class="title-content-cabecera">{{ content.field_titulo_cabecera[0] }}</h1>

			<span class="div-icon-share">
				{% include 'themes/custom/qintess/icons/share.svg' %}
			</span>
			</div>
			<img src="{{ file_url(content.field_imagen_cabecera[0]['#media'].field_media_image.entity.uri.value) }}"/>
		</div>
	{% endblock %}
{% endblock paragraph %}
